---
import Card from "../Card.astro";
---

<div class="flex flex-col content-center items-center m-10">
  <img
    src="http://localhost:4000/images/moda"
    alt="imagen moda"
    class="rounded-lg drop-shadow-lg"
  />
  <div class="bg-red-800 h-1 w-36 mt-10 mb-3"></div>
  <h1 class="p-0 m-0 font-bold text-5xl">Country Shop</h1>

  <div class="bg-red-800 h-1 w-60 mt-6"></div>
  <div class="flex flex-row flex-wrap justify-center items-center mt-16">
    <Card
      title="Camisetas de temporadas"
      text="Mira en nuestra seccion las últimas novedades de 2023"
      url="http://localhost:4000/images/1"
    />
    <Card
      title="Echa un vistazo a nuestro catálogo"
      text="Lo último de la moda en Country Shop a tu disposición"
      url="http://localhost:4000/images/2"
    />
    <Card
      title="Los mejores complementos"
      text="Combina lo mejor de tí con tus mejores accesorios"
      url="http://localhost:4000/images/3"
    />
  </div>
  <div class="bg-red-800 h-1 w-36 mb-3 mt-10"></div>
  <h1 class="p-0 m-0 font-bold text-5xl">Secciones</h1>
  <div class="bg-red-800 h-1 w-60 mt-5"></div>
  <div class="flex flex-row flex-wrap gap-10 content-center items-center mt-12">
    <div
      class="flex flex-col justify-center items-center bg-cover bg-top h-28 w-96"
      style="background-image: url('http://localhost:4000/images/hombre')"
    >
      <h1 class="text-red-500 p-0 m-0 font-bold text-5xl">Hombre</h1>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-cover bg-center h-28 w-96"
      style=`background-image: url("http://localhost:4000/images/accesorios")`
    >
      <h1 class="text-red-500 p-0 m-0 font-bold text-5xl">Accesorios</h1>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-cover bg-center h-28 w-96"
      style=`background-image: url("http://localhost:4000/images/mujer")`
    >
      <h1 class="text-red-500 p-0 m-0 font-bold text-5xl">Mujer</h1>
    </div>
  </div>
</div>

<div class="">
  <section class="bg-white dark:bg-gray-900">
    <div
      class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative"
    >
      <a
        href="#"
        class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-blue-700 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300 hover:bg-blue-200 dark:hover:bg-blue-800"
      >
        <span
          class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3"
          >Nuevo</span
        >
        <span class="text-sm font-medium"
          >¡Suscríbete para recibir noticias de las últimas ofertas!</span
        >
        <svg
          aria-hidden="true"
          class="ml-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        Country Shop... al día con la moda
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200"
      >
        Recibe las ultimas noticias y ofertas que se encuentra en Country Shop,
        si no eres miembro aún... a que esperas, ¡Suscríbete!
      </p>
      <form class="w-full max-w-md mx-auto">
        <label
          for="default-email"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >Email sign-up</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              ></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              ></path>
            </svg>
          </div>
          <input
            type="email"
            id="default-email"
            class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingresa tu email aquí..."
            required
          />
          <button
            type="submit"
            class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Suscribirse</button
          >
        </div>
      </form>
    </div>
  </section>
</div>
