---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/catalogo/Gallery";
---

<Layout title="Country Shop">
  <main class="flex flex-row">
    <Gallery client:load />
  </main>
</Layout>
